layout {   
    pane split_direction="vertical" {
        pane
    }

    pane size=1 borderless=true {
        // https://github.com/dj95/zjstatus
        plugin location="file:/home/davxy/.config/zellij/zjstatus.wasm" {
            format_left  "{mode}"
            format_right "{tabs} - #[italic]{session} {swap_layout}"
            format_space "#[bg=#252525]"

            hide_frame_for_single_pane "true"

            mode_normal  "#[bg=#252525] {name}"

            tab_normal              "{name} "
            tab_active              "#[bold]{name} "
        }
    }
}
