window {
  opacity: 0.95;
  border: 1px solid #d4be98;
  background-color: #282828;
  border-radius: 10;
}

#input {
  color: #282828;
  background-color: #d4be98;
}

#text {
  color: #d4be98;
}

#entry:selected {
  background-color: #303030;
  border: 1px solid #d4be98;
}
